.DetailPost{
    padding: 20px;

}
.Headers{
    margin: 10px auto;
    font-size: 50px;
    text-align: center;

}
.Value{
    text-align: center;
    border-bottom: solid;
    display:flex;
    justify-content:center;
    margin: 5px auto;


}
.Button{
    display:flex;
    justify-content:center;
    align-item:center;
    margin: 20px auto;
}